﻿@model CleverBit.Models.Product

@{
    ViewData["Title"] = "ViewProduct";
}


<div class="container">
    <input type="hidden" id="productId" value='@Model.Id' />
    <input type="hidden" id="mockDb" value="false" />
    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-6">
            <h1>@Model.Name</h1>

            <p>@Model.Description</p>

            <p>For an amazig price of @Model.Price Euros</p>

            @if (User.Identity.IsAuthenticated)
            {
                <button class="btn btn-success buyNowBtn">Order Now</button>
                <span id="resultRequest"></span>
            }
            else
            {
                <p style="color:red">To buy this product please login in our system</p>
            }
        </div>

        <div class="col col-lg-6 col-md-6 col-sm-6">
            <div id="bestSaleContainer">
                @if (Model.NumberSales >= 5)
                {
                    <h2>This is a POPULAR PRODUCT</h2>
                    <img src="~/img/mostPopular.jpg" />

                }
            </div>
        </div>
    </div>




</div>

<script src="~/js/Sale.js"></script>