﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the minimal store of fantastic items</h1>
    <p>
        Look after the symbol
        <img src="~/img/mostPopular.jpg" /> 
        for our best sellers
    </p>
</div>
